################################################################################
# COMPILATION

# ---------------------
# Ocaml build
_log
_build
*.native
*.byte
*.d.native
*.p.byte
pkgx

# ---------------------
# Menhir
src/parser.ml
src/parser.mli
src/parser.conflicts

# ---------------------
# Makefile
*.o
mlightdp

################################################################################
# EMACS
*~
*\.#*

################################################################################
# EXAMPLES
examples/*.dfy
examples/edited_output/*